html {
  font-size: 62.5%;
}

header {
  position: fixed;
  width: 100%;
  /* position: relative; */
  z-index: 100;
}

p {
  text-align: justify;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.btn {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.box, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.profile-content h2 {
  font-size: 2.8rem;
}

.profile-image {
  width: 20rem;
  height: 20rem;
}

.hero {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
}

.fa-bars {
  font-size: 20px;
}

.fixed-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: none;
}

.hamburger {
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (min-width:400px) {

  .profile-image {
    width: 30rem;
    height: 30rem;
  }

  h1 {
    color: tomato;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: block;
  }

  .fixed-header {
    justify-content: space-between;
  }

  .nav {
    flex-direction: row;
  }

}

@media (min-width:768px) {

  h1 {
    color: green;
  }

  .hero {

  }
}​
