<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, nofollow">
    <meta name="googlebot" content="index, nofollow">
    <meta name="description" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">

    <meta property="og:title" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">
    <meta property="og:url" content="http://www.pandadent.hu"/>
    <meta property="og:site_name" content="Pandadent"/>
    <meta property="og:description" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="hu_HU">
    <meta property="og:image" content="" alt="Dr. Kovács Anna Edit">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="fb:app_id" content="drkovacsanna"/>

    <meta name="theme-color" content="#4285f4">
    <meta name="google-site-verification" content="4oFR823F5RmryRa6xDTa7dl_mtvkIBR0cktjAmODujw" />

    <title>Dr. Kovács Anna gyermek- és felnött felnöttfogorvos</title>
    <link rel="icon" href="/dentist.ico?v=1.1">
    <link rel="stylesheet" type="text/css" href="jquery.fullPage.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="hover.min.css"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="jquery-3.2.0.js"></script>
    <script type="text/javascript" src="jquery.fullPage.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="sheet-to-json.js"></script>
    <script defer src="fontawesome-all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <header class="container-fluid">
      <div class="title">
        <h1>{{data.title}}</h1>
        <h2>{{data.makeAppointment}}</h2>
      </div>
      <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-11">

      </div>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row form">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11">
            <div class="form-group">
              <input name="name" type="text" class="form-control form-content" placeholder="Név" >
            </div>
            <div class="form-group">
              <input name="phone" type="text" class="form-control form-content" placeholder="Telefonszám">
            </div>
            <div class="form-group">
              <input name="email" type="text" class="form-control form-content" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea name="complaint" rows="5" class="form-control form-content" placeholder="Azért kérek idöpontot, mert..."></textarea>
            </div>
            <div class="form-group time-preference">
              <h3>Idöpont preferencia</h3>

              <div class="form-check">
                <input class="form-check-input form-content" type="radio" name="time_preference" id="tuesday" value="tuesday" checked>
                <label class="form-check-label" for="tuesday">
                  Kedd 16:00 - 19:00
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input form-content" type="radio" name="time_preference" id="thursday" value="thursday">
                <label class="form-check-label" for="thursday">
                  Csütörtök 16:00 - 19:00
                </label>
              </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
          </div>
            <button id="send" class="btn btn-primary">Küldés</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Siker!</h4>
            </div>
            <div class="modal-body">
              <p>Az idöpontkérés sikeresen elküldve.</p>
              <p>Hamarosan felvesszük Önnel a kapcsolatot.</p>
              <p>Addig is kövesse a facebook oldalt.</p>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrkovacsanna%2F&width=122&layout=button&action=like&size=large&show_faces=true&share=true&height=65&appId=363400114135826" width="100%" height="100px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>

    </main>
    <footer>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
