html {
  font-size: 62.5%;
}

header {
  position: fixed;
  z-index: 100;
}

p {
  text-align: justify;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.btn {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.box, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 300px;
  height: 300px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.hero {

}

@media (max-width: 767px) {
  /* main {
    font-size: .7rem;
  }

  h1 {
    font-size: 1.5rem;
  } */

  .hero {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
